.icon{
    color: rgb(92, 159, 36);
    font-size: 36px;
    font-weight: 400;
    height: 80px;
}

.iconDiv{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 25px 0px;
    text-align: center;padding-top: 8px;
}

.title{
    border-bottom: 2px rgb(92, 159, 36) solid;
    width: 50px;
    margin: auto;
}

.description{
    color: rgb(68, 68, 68);
}