
.section-title{
    text-align: center;
}

.questionMark{
    color:rgb(156, 220, 102);
    font-size: 24px;
}

.domande{
    font-size: 16px;
    font-weight: 50;
    margin-left: 8px;
    padding-top: 20px;
    color: rgb(52, 58, 64);
    font-family: Poppins, sans-serif;
}

.domande:hover{
    color: rgb(92, 159, 36);
}

.domande-body{
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
}

.accordion-button{
    padding: 3px;
}

.accordion-button::after{
    background-size: 15px;
    margin-right: 15px;
}

.accordion-item{
    padding-left: 20px;
}


