.img-slide{
    width: 100%;
    height: 700px;
}

.img-slide-opacity{
    filter: brightness(50%);
    transition: 0.5s;
}

.navbar{
    margin-bottom: 0!important;
}

.carouselH3{
    font-size: 48px;
    font-weight: 700;
}

.carousel-item{
    position: relative;
}

.carousel-caption{
    position: absolute;
    top: 130px;
}

.carousel{
    padding: 0!important;
}