.roomPrenota{
   background-color:rgb(92, 159, 36)!important;
   border: none!important;
   width: 130px;
   height: 50px;
}

.piuInfo{
    background-color:rgb(68, 68, 68)!important;
    border: none!important;
    width: 118px;
    height: 50px;
}

.myButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.card-img{
    width: 100%!important;
    border-radius: 0;
}

.card{
    padding: 0;
    background-color: transparent;
    border: none;
}

.card-title{
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.card-text{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

