.socialMediaIcon{
    font-weight: 400;
    color: white;
    font-size: 16px;
    padding-top: 3px;
}

.socialIcons{
    display: inline-block;
    border-radius: 50%;
    background-color: #2a2a2a;
    margin: 3px;
    width: 36px;
    height: 36px;
    text-align: center;
}

.linkItems{
    color:white ;
    text-decoration:none ;
    padding-left:"3px" ;
}

.rightArrow{
    color: #8ed851;
    font-size:22px ;
}

.footerLinks h6{
    font-weight:600;
    font-size:14px;
    color:white;
    display:inline-block;
    margin-left:38px;
    padding-top: 60px;
}